1 VERSIONINFO
FILEVERSION       1,9,1,0
PRODUCTVERSION    1,9,1,0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Yann Collet"
            VALUE "FileDescription", "Extremely fast compression"
            VALUE "FileVersion", "1.9.1.0"
            VALUE "InternalName", "lz4"
            VALUE "LegalCopyright", "Copyright (C) 2013-2016, Yann Collet"
            VALUE "OriginalFilename", "lz4..exe"
            VALUE "ProductName", "LZ4"
            VALUE "ProductVersion", "1.9.1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}

